In [1]:
a=1000
b=2000

In [ ]:
#arithmatic operators: +,-,*,/,%,**
#boolean operators: >,<,<=,>=,==,!=,is,in,not in
#bitwise operstors: &,|,^,>>,<<

In [42]:
2**4

16

In [9]:
a=12.23
b=56.78
int doesnt support in, not in, all bitwise operations

In [31]:
s1="python"
s2='program'
print s1+s2

pythonprogram

In [1]:
a=10
b=20

In [3]:
print (a+b)**3

27000

In [4]:
print (a+b)**2

900

In [6]:
print a**2+b**2+2*a*b

900

In [8]:
print a**3+b**3+3*a**2*b+3*a*b**2

27000

In [12]:
a=raw_input("Enter a value:")
print a

Enter a value:Trianth
Trianth

In [21]:
a=raw_input("Enter a Value:")
b=raw_input("Enter b value:")
a1=int(a)
b1=int(b)
print a1**2+b1**2+2*a1*b1

Enter a Value:10
Enter b value:20
900

In [22]:
ord("a")

97

In [2]:
chr(97)

'a'

In [3]:
ord("A")

65

In [4]:
chr(65)

'A'

In [25]:
import math

In [1]:
#it's a "hot" day in 'hyderabad'

In [19]:
print "it's a \"hot\" day in 'hyderabad'"

it's a "hot" day in 'hyderabad'

In [20]:
print 'it\'s a "hot" day in \'hyderabad\''

it's a "hot" day in 'hyderabad'

In [21]:
print "\\"

\

In [22]:
print '""'

""

In [23]:
print '"'

"

In [12]:
print "%s%d%f%o%x%r" # conversions > "%r" rawstring, "%s" string, "%o" octa, "%x" exa, "%f" float, "%f" float

%s%d%f%o%x%r

In [31]:
cost_price=30.3456
cost_price_int=int(cost_price)
print "cost price of the product:"+str(cost_price_int)
print "cost price of the product:%d"%(cost_price_int)
print "cost price of the product:%.2f"%(cost_price_int)

cost price of the product:30
cost price of the product:30
cost price of the product:30.00

In [32]:
print "%.2f"%(cost_price)

30.35

In [35]:
print "%x"%1234

4d2

In [36]:
print "%x"%9000772175

2187ce24f

In [37]:
hex_n = "2187ce24f"
print int(hex_n,16)

9000772175

In [39]:
bin_n="100010"
print  int(bin_n)

100010

In [40]:
bin_n="10101010"
print int(bin_n,2)

170

In [36]:
name="anil"
age=23
height=6.3456
weight=56.34353
# Persion details
# Name:anil, age:23, Height:5.66546, Weight:56.66666
print "Persion details:\n\tName:"+name+", Age:"+str(age)+", Height:"+str(height)+", Weight:"+str(weight)
print "persion details:\n\tName:%s, Age:%s, Height:%d, Weight:%.2f"%(name,age,height,weight)
print "persion details:\n\tName:%s, Age:%s, Height:%.3f: Weight:%.2f"%(name,age,height,weight)

Persion details:
	Name:anil, Age:23, Height:6.3456, Weight:56.34353
persion details:
	Name:anil, Age:23, Height:6, Weight:56.34
persion details:
	Name:anil, Age:23, Height:6.346: Weight:56.34

In [1]:
print "%s"%("ssdfadfa\nasdfadsf\nadsfasdf")

ssdfadfa
asdfadsf
adsfasdf

In [44]:
print "%r"%("sdfadfa\nasdfadsf\nadsfasdf")

'sdfadfa\nasdfadsf\nadsfasdf'

In [1]:
with="tri"

SyntaxError: invalid syntax (<ipython-input-1-ade06b1e57b2>, line 1)

In [2]:
import keyword

In [3]:
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
print "true"

true

In [6]:
print True

True

In [7]:
print none

NameError: name 'none' is not defined

In [8]:
print None

None

In [9]:
True=10['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 
print True

10

In [10]:
del True

In [11]:
print True

True

In [6]:
# boolean expressions

In [7]:
bool(0)

False

In [8]:
bool(1)

True

In [9]:
s="python"
len(s)

6

In [11]:
a=10
b=2
if a>b:
    print a is big
else
    print b is big
print "thank you"

SyntaxError: invalid syntax (<ipython-input-11-38a9262e14e3>, line 5)

In [13]:
s=raw_input("Enter a string")
print s, len(s)

Enter a stringTrinath
Trinath 7

In [22]:
r=raw_input("Enter a string:")
if r:
    print "if block started"
    print r
    print "if block ended"
else:
    print "else block started"
    print "invalid string"
    print "else block ended"
print "thank you"

Enter a string:Trinath
if block started
Trinath
if block ended
thank you

In [23]:
r=raw_input("Enter a string:")
if r:
    print "if block started"
    print r
    print "if block ended"
else:
    print "else block started"
    print "invalid string"
    print "else block ended"
print "thank you"

Enter a string:
else block started
invalid string
else block ended
thank you

In [24]:
r=raw_input("Enter a string:")
if r:
    print "if block started"
    print r
    print "if block ended"
print "thank you"

Enter a string:Trinath
if block started
Trinath
if block ended
thank you

In [26]:
r=raw_input("Enter a string:")
if r:
    print "if block started"
    print r
    print "if block ended"
print "thank you"

Enter a string:
thank you

In [5]:
print ("Items cost list:\n\t1.fruits\n\t2.food\n\t3.electronics")
b=raw_input("Enter item number:")
if b:
    if b=="1":
        print "Fruits cost is Rs.10"
    elif b=="2":
        print "food cost is Rs.50"
    elif b=="3":
        print "Elec cost is Rs.100"
    else:
        print "not listed"
else:
    print "invalid input"
print "thanks for visting"

Items cost list:
	1.fruits
	2.food
	3.electronics
Enter item number:2
food cost is Rs.50
thanks for visting

In [10]:
# and or xor
print "True and True:",True and True
print "True and False:",True and False
print "False and True:",False and True
print "False and False:",False and False

True and True: True
True and False: False
False and True: False
False and False: False

In [12]:
print "True or True:",True or True
print "True or False:",True or False
print "False or True:",False or True
print "False or False:",False or False

True or True: True
True or False: True
False or True: True
False or False: False

In [1]:
i=0
if i<10:
    print i
    i=i+1
    print i

0
1

In [2]:
i=0
while i<10:
    print i
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [4]:
i=5
while i<9:
    print i
    i=i+1

5
6
7
8